<mat-toolbar>
  <span><h1 class="test">
    Welcome to {{title}}!
  </h1>
</span>
<div class="card">
<mat-card>
  <i>  This is a simple calculator made using Angularjs and Angular Material </i> </mat-card>
</div>
</mat-toolbar>




<section>
  <div class="example-button-row">
        <a mat-button color="accent" href="https://www.linkedin.com/in/royreekraj/" target="https://www.linkedin.com/in/royreekraj/">My Linkedin</a>
    <a mat-button color="primary" href="https://github.com/REEKRAJROY" target="https://github.com/REEKRAJROY">My GitHub</a>
  </div>
</section>
<div class="home">
<mat-icon aria-hidden="false" aria-label="Example home icon">tablet</mat-icon>
<br>
calculator
</div>
<calculator></calculator>